.AuthPage {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 50px auto;
}

.AuthPage h2 {
  color: #333;
  margin-bottom: 20px;
}

.AuthPage ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.AuthPage li {
  margin: 10px 0;
}

.AuthPage button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.AuthPage button:hover {
  background-color: #0056b3;
}

.AuthPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AuthPage input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
}

.AuthPage .submit-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.AuthPage .submit-button:hover {
  background-color: #218838;
}

.AuthPage .logo {
  width: 100px;
  margin-bottom: 20px;
}