.file-upload {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .file-upload h2 {
    color: #ff4d00;
    margin-bottom: 20px;
  }

  .hidden {
    display: none;
  }
  
  .create-nft {
    font-size: 5em;
    color: #ff4d00;
    
  }
  
  .file-upload form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Espace entre les boutons */
  }
  
  .file-upload button {
    background-color: #ff4d00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .file-upload button:hover {
    background-color: #c0f8ff;
    color: #ff4d00;
  }