body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(#ff4d00, #c0f8ff);
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #ff4d00;
}

button {
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  background-color: #ff4d00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c0f8ff;
  color: #ff4d00;
}

a {
  color: #ff4d00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}